apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.service.nameOverride | default .Chart.Name }}
  labels:
    app: {{ .Values.service.nameOverride | default .Chart.Name }}
spec:
  type: {{ .Values.service.type }}
  ports:
  - port: {{ .Values.service.port }}
    targetPort: 5432
  selector:
    app: {{ .Chart.Name }}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ .Chart.Name }}-pvc
spec:
  accessModes:
    - {{ .Values.storage.accessMode }}
  resources:
    requests:
      storage: {{ .Values.storage.size }}
