# Umbrella chart values for devops-system
# Override values for subcharts below

# Client configuration
els-client:
  replicaCount: 1
  image:
    repository: dhruvre/devops-client # DOCKER_USERNAME
    pullPolicy: Always
    tag: "v0.8.13" # IMAGE_TAG
  service:
    nameOverride: els-client
  config:
    apiUrl: "http://els-server.local/api"
  ingress:
    enabled: true
    className: "nginx"
    annotations: {}
    hosts:
      - host: els-client.local
        paths:
          - path: /
            pathType: Prefix

# Server configuration  
els-server:
  replicaCount: 1
  fullnameOverride: els-server
  autoscaling:
    enabled: true
    minReplicas: 1
    maxReplicas: 5
    targetCPUUtilizationPercentage: 25
  monitoring:
    enabled: false
  image:
    repository: dhruvre/devops-server # DOCKER_USERNAME
    pullPolicy: Always
    tag: "v0.8.13" # IMAGE_TAG
  env:
    DATABASE_HOST: els-postgres.els-devops-system.svc.cluster.local

# Postgres configuration
els-postgres:
  replicaCount: 1
  service:
    nameOverride: els-postgres
  image:
    repository: postgres
    pullPolicy: IfNotPresent
    tag: "17-alpine"
