# Umbrella chart values for devops-system
# Override values for subcharts below

# Client configuration
client:
  replicaCount: 1
  image:
    repository: dhruvre/devops-client #DOCKER_USERNAME
    pullPolicy: Always
    tag: "latest"
  service:
    nameOverride: els-client
  config:
    apiUrl: "http://els-server.local/api"

# Server configuration  
server:
  replicaCount: 1
  fullnameOverride: els-server
  autoscaling:
    enabled: true
    minReplicas: 1
    maxReplicas: 5
    targetCPUUtilizationPercentage: 25
  monitoring:
    enabled: true
  image:
    repository: a/devops-server #DOCKER_USERNAME
    pullPolicy: IfNotPresent
    tag: "v0.7.5"
  env:
    DATABASE_HOST: els-postgres.els-devops-system.svc.cluster.local

# Postgres configuration
postgres:
  replicaCount: 1
  service:
    nameOverride: els-postgres
  image:
    repository: postgres
    pullPolicy: IfNotPresent
    tag: "17-alpine"
