# Umbrella chart values for Level 3
# Override values for subcharts below

# Client configuration
els-client:
  image:
    repository: dhruvre/devops-client
    pullPolicy: Always
    tag: "v0.8.13" # IMAGE_TAG
  service:
    nameOverride: els-client
  config:
    apiUrl: "http://els-server.local/api"
  ingress:
    hosts:
      - host: els-client.local
        paths:
          - path: /
            pathType: Prefix

# Server configuration
els-server:
  image:
    repository: dhruvre/devops-server
    pullPolicy: Always
    tag: "v0.8.13" # IMAGE_TAG
  env:
    DATABASE_HOST: els-postgres.els-devops-system.svc.cluster.local
  ingress:
    hosts:
      - host: els-server.local
        paths:
          - path: /
            pathType: Prefix

# Postgres configuration
els-postgres:
  image:
    repository: postgres
    tag: "14-alpine"
