# Umbrella chart values for devops-system
# Override values for subcharts below

# Client configuration
els-client:
  replicaCount: 1
  image:
    repository: dhruvre/devops-client #DOCKER_USERNAME
    pullPolicy: Always
    tag: "latest"
  config:
    apiUrl: "http://els-server.local/api"

# Server configuration  
els-server:
  replicaCount: 1
  autoscaling:
    enabled: true
    minReplicas: 1
    maxReplicas: 5
    targetCPUUtilizationPercentage: 25
  monitoring:
    enabled: true
  image:
    repository: dhruvre/devops-server #DOCKER_USERNAME
    pullPolicy: IfNotPresent
    tag: "v0.7.5"

# Postgres configuration
els-postgres:
  replicaCount: 1
  image:
    repository: postgres
    pullPolicy: IfNotPresent
    tag: "17-alpine"
