apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "strapi-chart.fullname" . }}
  labels:
    {{- include "strapi-chart.labels" . | nindent 4 }}
spec:
  revisionHistoryLimit: 5  # Keep only last 5 ReplicaSets
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "strapi-chart.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "strapi-chart.selectorLabels" . | nindent 8 }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.service.targetPort }}
              protocol: TCP
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          livenessProbe:
            httpGet:
              path: /_health
              port: http
            initialDelaySeconds: 180
            periodSeconds: 20
            timeoutSeconds: 30     
            failureThreshold: 10
          readinessProbe:
            httpGet:
              path: /_health
              port: http
            initialDelaySeconds: 150
            timeoutSeconds: 30                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             
            failureThreshold: 10
          env:
            {{- range $key, $value := .Values.env }}
            - name: {{ $key }}
              value: {{ $value | quote }}
            {{- end }}
          volumeMounts:
            - name: uploads
              mountPath: /opt/app/public/uploads
      volumes:
        - name: uploads
          persistentVolumeClaim:
            claimName: {{ include "strapi-chart.fullname" . }}-pvc
        {{- with .Values.sidecars }}
        {{- toYaml . | nindent 8 }}
        {{- end }}