replicaCount: 1

image:
  repository: DOCKER_USERNAME/devops-client # DOCKER_USERNAME
  pullPolicy: Always
  tag: "2534411ed36c44d5926020ef07157499f6334ad9" # IMAGE_TAG

config:
  apiUrl: "http://192.168.49.2:30002/api/api" # Update with Minikube IP
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80
  targetPort: 80

ingress:
  enabled: true
  className: "nginx"
  annotations: {}
  hosts:
    - host: els-client.local
      paths:
        - path: /
          pathType: Prefix

# Server URL that will be passed to React app at build time
serverUrl: "http://els-api.local"

env: {}
