replicaCount: 1

image:
  repository: dhruvre/devops-client # DOCKER_USERNAME
  pullPolicy: Always
  tag: "39fd654ab392e7cda344aa866c3296b4a56d3f3c" # IMAGE_TAG

config:
  apiUrl: "http://192.168.49.2:30002/api/api" # Update with Minikube IP
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80
  targetPort: 80

ingress:
  enabled: true
  className: "nginx"
  annotations: {}
  hosts:
    - host: els-client.local
      paths:
        - path: /
          pathType: Prefix

# Server URL that will be passed to React app at build time
serverUrl: "http://els-api.local"

env: {}
