replicaCount: 1

image:
  repository: dhruvre/devops-client # DOCKER_USERNAME
  pullPolicy: Always
  tag: "29fdd0fb8062f6684f0a7854ac263fe81c43982b" # IMAGE_TAG

config:
  apiUrl: "http://els-server.local/api" # Update with Minikube IP
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80
  targetPort: 80

ingress:
  enabled: true
  className: "nginx"
  annotations: {}
  hosts:
    - host: els-client.local
      paths:
        - path: /
          pathType: Prefix

# Server URL that will be passed to React app at build time
serverUrl: "http://els-server.local"

env: {}
