replicaCount: 1

image:
  repository: dhruvre/devops-client # DOCKER_USERNAME
  pullPolicy: Always
<<<<<<< HEAD
  tag: "v0.8.2" # IMAGE_TAG
=======
  tag: "latest" # IMAGE_TAG
>>>>>>> 50209f5 (fix: fixed argo cd ymal)

config:
  apiUrl: "http://els-server.local/api" # Update with Minikube IP
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80
  targetPort: 80

ingress:
  enabled: true
  className: "nginx"
  annotations: {}
  hosts:
    - host: els-client.local
      paths:
        - path: /
          pathType: Prefix

# Server URL that will be passed to React app at build time
serverUrl: "http://els-server.local"

env: {}
