apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Chart.Name }}-config
  labels:
    app: {{ .Chart.Name }}
data:
  config.js: |
    window.env = {
      API_URL: "{{ .Values.config.apiUrl }}"
    };
