apiVersion: apps/v1
kind: Deployment
metadata:
  name: server
  namespace: devops-system
spec:
  replicas: 1
  selector:
    matchLabels:
      app: server
  template:
    metadata:
      labels:
        app: server
    spec:
      containers:
      - name: server
        image: devops-server-image
        imagePullPolicy: Always
        ports:
        - containerPort: 1337
        env:
        - name: NODE_ENV
          value: development

        - name: APP_KEYS
          value: "+QtWQuJKp9IfkFWEtiXO8Q==,D1T2egPj8JmFs5TZnMth9g==,mssqCHe6hcR/BS7V+6owpw==,agB7crD33vhRZlIuePNpwA=="

        - name: API_TOKEN_SALT
          value: "8ezEvnYn0GzYWH8v0TF8zQ=="

        - name: ADMIN_JWT_SECRET
          value: "Rdb/CW49MBxCAN9EkAq09Q=="

        - name: JWT_SECRET
          value: "8Gq9l2kUZlnNq8Bq4LW28w=="

        - name: TRANSFER_TOKEN_SALT
          value: "l9HDxb7NepKQ5UoJ5/bIlA=="

        - name: DATABASE_CLIENT
          value: postgres
        - name: DATABASE_HOST
          value: postgres
        - name: DATABASE_PORT
          value: "5432"
        - name: DATABASE_NAME
          value: strapi
        - name: DATABASE_USERNAME
          value: strapi
        - name: DATABASE_PASSWORD
          value: strapi
        volumeMounts:
        - name: uploads
          mountPath: /opt/app/public/uploads
      volumes:
      - name: uploads
        emptyDir: {}
---
apiVersion: v1
kind: Service
metadata:
  name: server
  namespace: devops-system
spec:
  type: NodePort
  selector:
    app: server
  ports:
  - port: 1337
    targetPort: 1337
    nodePort: 30002
