replicaCount: 1

image:
  repository: dhruvre/devops-server # DOCKER_USERNAME/devops-server
  pullPolicy: IfNotPresent
  tag: "39fd654ab392e7cda344aa866c3296b4a56d3f3c" # IMAGE_TAG

service:
  type: NodePort
  port: 1337
  targetPort: 1337
  nodePort: 30002

ingress:
  enabled: true
  className: "nginx"
  annotations: {}
    # kubernetes.io/ingress.class: nginx
  hosts:
    - host: els-api.local
      paths:
        - path: /
          pathType: Prefix

env:
  NODE_ENV: development
  DATABASE_CLIENT: postgres
  DATABASE_HOST: postgres
  DATABASE_PORT: 5432
  DATABASE_NAME: strapi
  DATABASE_USERNAME: strapi
  DATABASE_PASSWORD: strapi
  DATABASE_SSL: false

persistence:
  enabled: true
  size: 1Gi
  accessMode: ReadWriteOnce

sidecars: []
