replicaCount: 1

image:
  repository: dhruvre/devops-server # DOCKER_USERNAME/devops-server
  pullPolicy: IfNotPresent
  tag: "2534411ed36c44d5926020ef07157499f6334ad9" # IMAGE_TAG

service:
  type: NodePort
  port: 1337
  targetPort: 1337
  nodePort: 30002

ingress:
  enabled: true
  className: "nginx"
  annotations: {}
    # kubernetes.io/ingress.class: nginx
  hosts:
    - host: els-api.local
      paths:
        - path: /
          pathType: Prefix

env:
  NODE_ENV: development

sidecars: []

  # - name: monitoring-sidecar
  #   image: busybox
  #   command: ['sh', '-c', 'while true; do echo "Monitoring..."; sleep 30; done']
