replicaCount: 1

image:
  repository: dhruvre/devops-server # DOCKER_USERNAME/devops-server
  pullPolicy: IfNotPresent
  tag: "bd0432d127d7f114fd3a2805d1699b4ea6042952" # IMAGE_TAG

service:
  type: NodePort
  port: 1337
  targetPort: 1337
  nodePort: 30002

ingress:
  enabled: true
  className: "nginx"
  annotations: {}
    # kubernetes.io/ingress.class: nginx
  hosts:
    - host: els-api.local
      paths:
        - path: /
          pathType: Prefix

env:
  NODE_ENV: development

sidecars: []

  # - name: monitoring-sidecar
  #   image: busybox
  #   command: ['sh', '-c', 'while true; do echo "Monitoring..."; sleep 30; done']
